.dashboard{
	background-color: #fff;
	border-radius: 0px;
	padding: 10px;
	padding-left: 10px;
}
.dashboard span{
	font-size: 15px;
}

.data-index .thumbnail{
	box-shadow: 4px 4px 4px #999;
}

.padding-icon{
	padding-top: 10px;
}

.thumbnail-text{
	font-size: 14px;
}