body{
	background-color: gray;
	padding: 15px;
}
.wrapper{
	color: black;
	margin-top: 10%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 5px 15px black;
}
.judul{
	padding-top: 15px;
}
.judul img{
	background-color: #78A4FF;
	position: relative;
	width: 100px;
}

.content{
	padding-top: 10px;
}

.up{
	position: relative;
}
