body{
	margin-top: 110px;
	background-color: #F8F8F8;
}

/* HEADER*/

.title{
	margin-top: 10px;
}

.header{
	background-color: #42639f;
	padding: 15px;
	min-height: 90px;
}
.header .title{
	font-size: 25px;
	text-shadow: 2px 2px 2px black;
	font-family: agency fb;
}
.header a{
	text-decoration: none;
}
.header img{
	width: 50px;
}

.header .judul{
	color: white;
	padding: 0px;
}
.header .judul h3{
	font-family: agency fb;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
}


	/* USER SETTINGS DIV */

	.user-settings-wrapper .nav > li > a {
	   /* display: block;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    height: 20px;
	    width: 20px;
	    background-color: #F0677C;
	    color: #fff;*/

	    background-color: #ed7f15;
	    color: #000;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    font-size: 9px;
	    margin-top: 5px;
	    margin-right: 20px;
	    margin-left: 10px;
	    text-align: center;
	    padding: 9px;
	    box-shadow: 0px 0px 6px black;
	}

	.user-settings-wrapper {
	    margin-top: 0px;
	}

	    .user-settings-wrapper li {
	        display: inline-block;
	    }

	    .user-settings-wrapper .dropdown-settings {
	        width: 220px;
	        padding: 10px;
	    }

	    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
	        text-decoration: none;
	        background-color: #72b3b1!important;
	    }

	    .user-settings-wrapper img {
	        height: 64px;
	        width: 64px;
	        border: 1px solid #000000;
	    }

	    .user-settings-wrapper .dropdown-menu {
	        margin: 0px;
	        border-radius: 0px!important;
	        -moz-border-radius: 0px!important;
	        -webkit-border-radius: 0px!important;
	    }

	    .user-settings-wrapper .btn {
	        border-radius: 0px!important;
	        -moz-border-radius: 0px!important;
	        -webkit-border-radius: 0px!important;
	    }

	    .user-settings-wrapper .media-heading {
	        padding-top: 10px;
	    }

/* end HEADER*/

/* NAVBAR */

.home{
	min-width: 70px;
}
.navbar{
	min-height: 30px;
}
.navbar-text {
	font-family: tahoma;
	font-size: 12px;
	color: #e0e6e2;
	margin: 0px;
	padding-top: 10px;
}
.navbar-default{
	background-color: #28304d;
	border: none;
	border-radius: 0px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a{
	font-family: tahoma;
	font-size: 12px;
	color: #e0e6e2;
}

.navbar-default .navbar-nav > li > a:hover{
	background-color: #42639f;
	color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #F8F8F8;
}

/* end NAVBAR */

.sect{
	background-color: #F8F8F8;
	min-height: 500px;
	padding: 5px;
	padding-top: 0px;

}

.footer{
	background-color: #001a1a;
	margin-top: 60px;
	color: white;
	padding-top: 30px;
}